* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  position: relative;
}
.nav {
  background-color:lightgreen;
  display: flex;
  list-style-type: none;
  gap: 10px;
}

#top-nav {
  position: absolute;
  right: 10%;
  top: 2%;
  
}
li {
  text-decoration: none;
  font-size: 20px;
}
#about {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
#logo {
  width: 30px;
  height: 30px;
}
#icon {
  width: 30px;
  height: 30px;
}
.projects {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#project-title {
  padding: 10px;
}
#project-1 {
  grid-column: 1 / span 3;
  grid-row: 2 / 3;
}
#project-2 {
  grid-column: 1 / span 3;
  grid-row: 3 / 4;
}
.project-image {
  width: 300px;
  height: 250px;
}
h3 {
  padding-bottom: 20px;
}
.skills {
  background-color:lightgoldenrodyellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
#skill-header {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: center;
}
.skill-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-2 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-3 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-6 {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-icon {
  width: 50px;
  height: 40px;
}
.skill-paragraph {
  
}
.collab {
  background-color: lightslategrey;
}
form {
  display: flex;
  flex-direction: column;
}
button {
  width: 100px;
}
footer {
  background-color:mediumorchid;
}

