@media screen and (min-width: 768px) {
  header {
    height: 550px;
  }
  #logo {
    width: 60px;
    height: 60px;
  }
  #top-nav {
    display: flex;
    right: 2%;
  }
  .nav li a {
    font-size: 20px;
    padding: 15px;
  }
  #about {
    margin-right: 22%;
    margin-bottom: 5%;
    justify-content: flex-end;
    gap: 5px;
  }
  #title {
    font-size: 70px;
  }
  #name-header {
    font-size: 30px;
  }
  #icon {
    display: none;
    
  }
  .projects {
    margin-top: -35px;
    transform: skewY(3deg);
  }
  #projects-unskew {
    transform: skewY(-3deg);
    margin: 30px 0;
  }
  #project-title {
    grid-column: 6 / 8;
  }
  #project-1 {
    grid-row: 2/ 9;
    grid-column: 2/6;
    
  }
  #project-2 {
    grid-column: 7 / 12;
    grid-row: 2 / 9;
  }
  .skills {
    transform: skewY(-3deg);
    background-color: skyblue;
    height: 375px;
  }
  #skills-unskew {
    transform: skewY(3deg);
    margin: 30px 0;
  }
  .skill-4 {
    padding-top: 10px;
  }
  .skill-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .skill-6 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .collab {
    transform: skewY(3deg);
    background-color: white;
    margin-top: -50px;
    padding-top: 30px;
  }
  #collab-unskew {
    transform: skewY(-3deg);
  }
  input {
    width: 40%;
  }
  textarea {
    width: 70%;
  }
  .icon-link-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 30px;
  }
  header {
    height: 800px;
  }
  #about {
    margin-right: 25%;
    margin-bottom: 3%;
    width: 50%;
  }
  .project-image {
    width: 400px;
    height: 350px;
  }
  #project-title {
    grid-column: 6 / 8;
    text-align: center;
  }
  #project-1 {
    grid-column: 2 / 6;
    grid-row: 2 / 12;
  }
  #project-2 {
    grid-column: 8 / 12;
  }
  .skills {
    height: 500px;
  }
  #skill-header {
    text-align: center;
  }
  .collab {
    margin-top: -80px;
  }
  input, textarea, button{
    line-height: 30px;
    font-size: 30px;
    margin: 20px;
  }
  textarea {
    height: 5em;
  }
  button {
    width: 15%;
  }

  .icon-link-image {
    height: 70px;
    width: 70px;
    margin-right: 20px;
  }
}