@media screen and (min-width: 768px) {
  header {
    height: 550px;
  }
  #logo {
    width: 40px;
    height: 40px;
    margin: 20px;
  }
  #top-nav {
    display: flex;
    right: 2%;
  }
  .nav li a {
    font-size: 20px;
    padding: 15px;
  }
  #about {
    margin-right: 20%;
    margin-bottom: 5%;
    justify-content: flex-end;
    gap: 5px;
  }
  #title {
    font-size: 55px;
  }
  p {
    font-size: 15px;
  }
  @keyframes left-right {
    from {
      left: 20px;
    }
    to {
      right: 10%;
    }
  }
  #ufo-image {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 10%;
    opacity: 75%;
    animation-duration: 4s;
    animation-name: left-right;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: block;
  }
  #rocket-image {
    width: 150px;
    height: 100px;
    bottom: 0;
    position: absolute;
    opacity: 80%;
    display: block;
  }
  #name-header {
    font-size: 30px;
  }
  h2 {
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
  }
  h3 {
    font-size: 30px;
  }
  .projects {
    margin-top: -35px;
    transform: skewY(3deg);
    padding: 100px 0;
  }
  #projects-unskew {
    transform: skewY(-3deg);
    margin: 30px 0;
  }
  #project-title {
    grid-column: 5 / 8;
  }
  #project-1 {
    grid-row: 2/ 9;
    grid-column: 2/6;
    padding-left: 30px;
    
  }
  #project-2 {
    grid-column: 7 / 12;
    grid-row: 2 / 9;
  }
  .project-banner {
    height: 150px;
  }
  .skills {
    transform: skewY(-3deg);
    height: 500px;
    padding-top: 50px;
  }
  #skills-unskew {
    transform: skewY(3deg);
    margin: 30px 0;
  }
  .skill-4 {
    padding-top: 10px;
  }
  .skill-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .skill-6 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .skill-icon {
    width: 60px;
    height: 50px;
  }
  .skill-paragraph {
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
  }
  .collab {
    transform: skewY(3deg);
    background-color: white;
    margin-top: -50px;
    padding-top: 30px;
  }
  #collab-unskew {
    transform: skewY(-3deg);
  }
  input {
    width: 40%;
  }
  textarea {
    width: 60%;
  }
  .icon-link-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

}

/*DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 30px;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  header {
    height: 800px;
    padding-bottom: 90px;
  }
  #about {
    margin-right: 25%;
    margin-bottom: 3%;
    width: 50%;
  }
  #title {
    font-size: 70px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
  }
  #ufo-image {
    width: 300px;
    height: 200px;
  }
  #rocket-image {
    width: 250px;
    height: 150px;
  }
  .projects {
    margin-top: -70px;
  }
  .project-image {
    width: 400px;
    height: 350px;
  }
  #project-title {
    grid-column: 6 / 8;
    text-align: center;
  }
  #project-1 {
    grid-column: 2 / 7;
    grid-row: 2 / 12;
  }
  #project-2 {
    grid-column: 8 / 13;
    grid-row: 2 / 12;
  }
  .project-banner {
    width: 400px;
    height: 160px;
    bottom: 20px;
  }
  .skills {
    height: 650px;
  }
  #skill-header {
    text-align: center;
  }
  .skill-icon {
    width: 70px;
    height: 60px;
  }
  .collab {
    margin-top: -100px;
  }
  #h2-collab {
    padding: 50px;
  }
  input, textarea, button{
    line-height: 30px;
    font-size: 30px;
    margin: 20px;
  }
  textarea {
    height: 5em;
  }
  button {
    width: 15%;
  }

  .icon-link-image {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
}